:root {
  --orange: #F28500;
  --black: #242423;
  --dark: #333533;
  --white: #F2F3F4;
  --light-orange: #FF9D26;
  --green: #4DA167;
  --red: #E02F40;
}

html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(180deg, rgba(70, 10, 167, 0) 0, rgba(36, 36, 35, 0.6) 0),url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='40' patternTransform='scale(2) rotate(40)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(60, 1%, 14%, 1)'/><path d='M0 30h20L10 50zm-10-20h20L0 30zm20 0h20L20 30zM0-10h20L10 10z'  stroke-width='1' stroke='hsla(120, 2%, 20%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Poppins';
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

.Title{
  text-transform: capitalize;
}

.custom-scrollbar{
  &::-webkit-scrollbar {
      width: 8px;
      height: 10px;
      background-color: #5454541a;
      border-radius: 10px;
  } 
  &::-webkit-scrollbar-thumb {
      border: 2px solid rgba(0,0,0,0);
      background-clip: padding-box;
      border-radius: 5px;
      background-color: rgba(84,84,84,0.5);
  }
}